.*.swp
/Lab34-Web-Netbeans/Lab34-EAR/Lab34-EAR-ejb/build/
/Lab34-Web-Netbeans/Lab34-EAR/Lab34-EAR-ejb/dist/
/Lab34-Web-Netbeans/Lab34-EAR/Lab34-EAR-war/build/
/Lab34-Web-Netbeans/Lab34-EAR/build/
/Lab34-Web-Netbeans/Lab34-EAR/Lab34-EAR-war/dist/
